In [76]:
import pandas as pd
import numpy as np

from pathlib import Path
from functools import reduce

In [77]:
df_final = pd.read_csv('./final_dfs/df_final_without_labor_with_clusters.csv', converters={'ags2': str, 'ags5': str})
company_changes_date = pd.read_csv('./final_dfs/company_changes_by_date.csv', converters={'ags2': str, 'ags5': str, 'date':str})
labor_market_by_date = pd.read_csv('./final_dfs/labor_market_by_date.csv', converters={'ags2': str, 'ags5': str, 'date':str})
#labor_market_region = pd.read_csv('./final_dfs/labor_market_region.csv', converters={'ags2': str, 'ags5': str, 'date':str})
funding_eligibility = pd.read_csv('./final_dfs/funding_eligibility.csv', converters={'ags2': str, 'ags5': str, 'date':str})
categorical_columns = pd.read_csv('./final_dfs/categorical_columns.csv', converters={'ags2': str, 'ags5': str, 'date':str})

In [81]:
funding_eligibility

     Unnamed: 0   ags5 support_area_status  eligible_area
0             0  01001                   C              1
1             1  01002                 C/D              1
2             2  01003                 C/D              1
3             3  01004                   D              1
4             4  01051                   C              1
..          ...    ...                 ...            ...
396         396  16073                  C*              1
397         397  16074                  C*              1
398         398  16075                  C*              1
399         399  16076                  C*              1
400         400  16077                  C*              1

[401 rows x 4 columns]

In [80]:
for col in ['labor_market_region',
       'growing_/_shrinking_circles', 'labor_market_type',
       'grw_funding_framework',
       'settlement_structure_type_of_labor_market_region',
       'room_type_location', 'district_settlement_structure',
       'type_of_settlement_structure', 'urban_/_rural', 'metropolitan_region',
       'metropolitan_area', 'east_west', 'border_proximity']:
    categorical_columns[col] = categorical_columns[col].astype('category')
    
    
for col in ['labor_market_region',
       'growing_/_shrinking_circles', 'labor_market_type',
       'grw_funding_framework',
       'settlement_structure_type_of_labor_market_region',
       'room_type_location', 'district_settlement_structure',
       'type_of_settlement_structure', 'urban_/_rural', 'metropolitan_region',
       'metropolitan_area', 'east_west', 'border_proximity']:
    categorical_columns[col] = categorical_columns[col].astype('category')

In [78]:
df_final = df_final.merge(company_changes_date, left_on=['ags2','ags5'], right_on=['ags2','ags5'])
df_final = df_final.merge(labor_market_by_date, left_on=['ags2','ags5','date'], right_on=['ags2','ags5','date'])
#df_final = df_final.merge(labor_market_region, left_on=['ags5'], right_on=['ags5'])
df_final = df_final.merge(funding_eligibility, left_on=['ags5'], right_on=['ags5'])
df_final = df_final.merge(categorical_columns, left_on=['ags5'], right_on=['ags5'])

In [69]:
df_final = df_final.drop(['Unnamed: 0_x', 'data_index'], 1)

In [70]:
df_final

,cluster,kreis,ags5,ags2,supermarkets_population,supermarkets_average_distance,public_transport_availability,average_distance_bus_stop,average_distance_train_station,average_distance_public_transport,...,grw_funding_framework,settlement_structure_type_of_labor_market_region,room_type_location,district_settlement_structure,type_of_settlement_structure,urban_/_rural,metropolitan_region,metropolitan_area,east_west,border_proximity
0,2,Regionalverband Saarbrücken,10041,10,76,734,52,260,1804,255,...,6,1,1,2,1,1,99,99,1,1
1,2,Regionalverband Saarbrücken,10041,10,76,734,52,260,1804,255,...,6,1,1,2,1,1,99,99,1,1
2,2,Regionalverband Saarbrücken,10041,10,76,734,52,260,1804,255,...,6,1,1,2,1,1,99,99,1,1
3,2,Regionalverband Saarbrücken,10041,10,76,734,52,260,1804,255,...,6,1,1,2,1,1,99,99,1,1
4,2,Regionalverband Saarbrücken,10041,10,76,734,52,260,1804,255,...,6,1,1,2,1,1,99,99,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18504,0,Altenburger Land,16077,16,62,1458,35,584,3628,574,...,2,2,3,3,2,2,7,99,2,0
18505,0,Altenburger Land,16077,16,62,1458,35,584,3628,574,...,2,2,3,3,2,2,7,99,2,0
18506,0,Altenburger Land,16077,16,62,1458,35,584,3628,574,...,2,2,3,3,2,2,7,99,2,0
18507,0,Altenburger Land,16077,16,62,1458,35,584,3628,574,...,2,2,3,3,2,2,7,99,2,0
18508,0,Altenburger Land,16077,16,62,1458,35,584,3628,574,...,2,2,3,3,2,2,7,99,2,0

In [60]:
#df_final.to_csv('./final_dfs/df_final_with_dates.csv', index = False)