In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

from pathlib import Path
from functools import reduce

from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [2]:
labor_market_region = pd.read_csv('./final_dfs/LarborMarket.csv', converters={'ags2': str, 'ags5': str, 'date':str})
labor_market_region

,Unnamed: 0,ags5,Kreis,Labor Market Region No.,Labor Market Region Name
0,0,1001,"Flensburg, Kreisfreie Stadt",1,Flensburg
1,1,1059,"Schleswig-Flensburg, Landkreis",1,Flensburg
2,2,1002,"Kiel, Landeshauptstadt, Kreisfreie Stadt",2,Kiel
3,3,1057,"Plön, Landkreis",2,Kiel
4,4,1058,"Rendsburg-Eckernförde, Landkreis",2,Kiel
...,...,...,...,...,...
396,396,16069,"Hildburghausen, Kreis",219,Hildburghausen
397,397,16072,"Sonneberg, Kreis",220,Sonneberg
398,398,16073,"Saalfeld-Rudolstadt, Kreis",221,Saalfeld-Rudolstadt
399,399,16075,Saale-Orla-Kreis,222,Saale-Orla-Kreis
400,400,16077,"Altenburger Land, Kreis",223,Altenburger Land

In [3]:
labor_market_region = labor_market_region.rename(columns = {"Labor Market Region No.": "labor_market_region_number",
                                                            "Labor Market Region Name": "labor_market_region_name"})

In [4]:
labor_market_region = labor_market_region[['ags5','labor_market_region_number','labor_market_region_name']]
labor_market_region

      ags5  labor_market_region_number labor_market_region_name
0     1001                           1                Flensburg
1     1059                           1                Flensburg
2     1002                           2                     Kiel
3     1057                           2                     Kiel
4     1058                           2                     Kiel
..     ...                         ...                      ...
396  16069                         219           Hildburghausen
397  16072                         220                Sonneberg
398  16073                         221      Saalfeld-Rudolstadt
399  16075                         222         Saale-Orla-Kreis
400  16077                         223         Altenburger Land

[401 rows x 3 columns]

In [5]:
#labor_market_region.to_csv('./final_dfs/labor_market_region.csv', index = False)