In [104]:
import pandas as pd
import numpy as np

from pathlib import Path
from functools import reduce

## stationery

In [138]:
df_final = pd.read_csv('./final_dfs/df_final_without_labor_with_clusters.csv', converters={'ags2': str, 'ags5': str})
funding_eligibility = pd.read_csv('./final_dfs/funding_eligibility.csv', converters={'ags2': str, 'ags5': str, 'date':str})
categorical_columns = pd.read_csv('./final_dfs/categorical_columns.csv', converters={'ags2': str, 'ags5': str, 'date':str})

In [139]:
categorical_columns

,Unnamed: 0,ags5,labor_market_region,growing_/_shrinking_circles,labor_market_type,grw_funding_framework,settlement_structure_type_of_labor_market_region,room_type_location,district_settlement_structure,type_of_settlement_structure,urban_/_rural,metropolitan_region,metropolitan_area,east_west,border_proximity
0,0,1001,4,5,5,1,3,2,4,3,2,99,99,1,1
1,1,1002,6,4,2,4,1,2,1,2,1,99,99,1,0
2,2,1003,5,4,5,4,1,1,1,2,1,5,99,1,0
3,3,1004,6,4,5,6,1,2,3,2,2,5,99,1,0
4,4,1051,2,4,5,1,3,4,4,3,2,5,99,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,396,16073,256,1,10,2,3,3,4,2,2,99,99,2,0
397,397,16074,244,2,10,2,1,3,3,2,2,99,99,2,0
398,398,16075,257,1,11,2,3,3,4,2,2,99,99,2,2
399,399,16076,243,2,11,2,1,3,2,2,1,99,99,2,0
400,400,16077,258,1,11,2,2,3,3,2,2,7,99,2,0

In [135]:
funding_eligibility = funding_eligibility.drop(['Unnamed: 0'], 1)
funding_eligibility

      ags5 support_area_status  eligible_area
0    01001                   C              1
1    01002                 C/D              1
2    01003                 C/D              1
3    01004                   D              1
4    01051                   C              1
..     ...                 ...            ...
396  16073                  C*              1
397  16074                  C*              1
398  16075                  C*              1
399  16076                  C*              1
400  16077                  C*              1

[401 rows x 3 columns]

In [136]:
for col in ['support_area_status','eligible_area']:
    funding_eligibility[col] = funding_eligibility[col].astype('category')
    
    
for col in ['labor_market_region',
       'growing_/_shrinking_circles', 'labor_market_type',
       'grw_funding_framework',
       'settlement_structure_type_of_labor_market_region',
       'room_type_location', 'district_settlement_structure',
       'type_of_settlement_structure', 'urban_/_rural', 'metropolitan_region',
       'metropolitan_area', 'east_west', 'border_proximity']:
    categorical_columns[col] = categorical_columns[col].astype('category')

In [137]:
df_final_stationery = df_final.merge(categorical_columns, left_on=['ags5'], right_on=['ags5'])
#df_final_stationery = df_final_stationery.merge(funding_eligibility, left_on=['ags5'], right_on=['ags5'])
#df_final_stationery = df_final_stationery.drop(['Unnamed: 0_x', 'data_index'], 1)
df_final_stationery

,data_index,cluster,kreis,ags5,ags2,supermarkets_population,supermarkets_average_distance,public_transport_availability,average_distance_bus_stop,average_distance_train_station,...,grw_funding_framework,settlement_structure_type_of_labor_market_region,room_type_location,district_settlement_structure,type_of_settlement_structure,urban_/_rural,metropolitan_region,metropolitan_area,east_west,border_proximity
0,318,2,Regionalverband SaarbrÃ¼cken,10041,10,76,734,52,260,1804,...,6,1,1,2,1,1,99,99,1,1
1,319,0,Landkreis Merzig-Wadern,10042,10,42,1733,30,269,3777,...,8,1,2,2,1,1,99,99,1,1
2,320,0,Landkreis Neunkirchen,10043,10,76,799,38,229,1762,...,4,1,2,2,1,1,99,99,1,2
3,321,0,Landkreis Saarlouis,10044,10,66,1083,37,284,3004,...,4,1,2,2,1,1,99,99,1,1
4,322,0,Saarpfalz-Kreis,10045,10,58,1177,38,231,2305,...,8,1,2,2,1,1,99,99,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,396,0,Saalfeld-Rudolstadt,16073,16,62,1423,37,341,2492,...,2,3,3,4,2,2,99,99,2,0
79,397,0,Saale-Holzland-Kreis,16074,16,54,1677,38,343,3419,...,2,1,3,3,2,2,99,99,2,0
80,398,0,Saale-Orla-Kreis,16075,16,54,1686,35,449,3172,...,2,3,3,4,2,2,99,99,2,2
81,399,0,Greiz,16076,16,55,1654,38,608,2779,...,2,1,3,2,2,1,99,99,2,0
82,400,0,Altenburger Land,16077,16,62,1458,35,584,3628,...,2,2,3,3,2,2,7,99,2,0

In [113]:
#df_final_stationery.to_csv('./final_dfs/df_final_stationery.csv', index = False)

## Date long

In [148]:
company_changes_date_long = pd.read_csv('./final_dfs/company_changes_by_date_long.csv', converters={'ags2': str, 'ags5': str, 'date':str})
labor_market_by_date_long = pd.read_csv('./final_dfs/labor_market_by_date_long.csv', converters={'ags2': str, 'ags5': str, 'date':str})

In [149]:
labor_market_by_date_long

,ags2,bundesland,ags5,variable,value,date
0,01,Schleswig-Holstein,01001,displayed_short_time_work_companies,0.000000,2020-01-01
1,01,Schleswig-Holstein,01001,displayed_short_time_work_companies,0.000000,2020-02-01
2,01,Schleswig-Holstein,01001,displayed_short_time_work_companies,185.000000,2020-03-01
3,01,Schleswig-Holstein,01001,displayed_short_time_work_companies,758.000000,2020-04-01
4,01,Schleswig-Holstein,01001,displayed_short_time_work_companies,70.000000,2020-05-01
...,...,...,...,...,...,...
89418,16,ThÃ¼ringen,16077,unemployment_benefit_entitled,6196.000000,2020-12-01
89419,16,ThÃ¼ringen,16077,unemployment_benefit_entitled,6236.000000,2021-01-01
89420,16,ThÃ¼ringen,16077,unemployment_benefit_entitled,6248.782315,2021-02-01
89421,16,ThÃ¼ringen,16077,unemployment_benefit_entitled,6219.427429,2021-03-01
89422,16,ThÃ¼ringen,16077,unemployment_benefit_entitled,6228.279630,2021-04-01

In [150]:
df_final_date_long = labor_market_by_date_long.append(company_changes_date_long)
df_final_date_long = df_final_date_long.drop(['bundesland'], 1)
df_final_date_long

       ags2   ags5                             variable  value        date
0        01  01001  displayed_short_time_work_companies    0.0  2020-01-01
1        01  01001  displayed_short_time_work_companies    0.0  2020-02-01
2        01  01001  displayed_short_time_work_companies  185.0  2020-03-01
3        01  01001  displayed_short_time_work_companies  758.0  2020-04-01
4        01  01001  displayed_short_time_work_companies   70.0  2020-05-01
...     ...    ...                                  ...    ...         ...
280779   07  07000       number_of_company_liquidations    0.0  2020-12-01
280780   07  07000       number_of_company_liquidations    0.0  2021-01-01
280781   07  07000       number_of_company_liquidations    0.0  2021-02-01
280782   07  07000       number_of_company_liquidations    0.0  2021-03-01
280783   07  07000       number_of_company_liquidations    0.0  2021-04-01

[370207 rows x 5 columns]

In [151]:
set(df_final_date_long['ags5'])

{'01001',
 '01002',
 '01003',
 '01004',
 '01051',
 '01053',
 '01054',
 '01055',
 '01056',
 '01057',
 '01058',
 '01059',
 '01060',
 '01061',
 '01062',
 '02000',
 '03101',
 '03102',
 '03103',
 '03151',
 '03153',
 '03154',
 '03155',
 '03157',
 '03158',
 '03159',
 '03241',
 '03251',
 '03252',
 '03254',
 '03255',
 '03256',
 '03257',
 '03351',
 '03352',
 '03353',
 '03354',
 '03355',
 '03356',
 '03357',
 '03358',
 '03359',
 '03360',
 '03361',
 '03401',
 '03402',
 '03403',
 '03404',
 '03405',
 '03451',
 '03452',
 '03453',
 '03454',
 '03455',
 '03456',
 '03457',
 '03458',
 '03459',
 '03460',
 '03461',
 '03462',
 '04011',
 '04012',
 '05111',
 '05112',
 '05113',
 '05114',
 '05116',
 '05117',
 '05119',
 '05120',
 '05122',
 '05124',
 '05154',
 '05158',
 '05162',
 '05166',
 '05170',
 '05314',
 '05315',
 '05316',
 '05334',
 '05358',
 '05362',
 '05366',
 '05370',
 '05374',
 '05378',
 '05382',
 '05512',
 '05513',
 '05515',
 '05554',
 '05558',
 '05562',
 '05566',
 '05570',
 '05711',
 '05754',
 '05758',
 '05762',
 '05766',
 '05770',
 '05774',
 '05911',
 '05913',
 '05914',
 '05915',
 '05916',
 '05954',
 '05958',
 '05962',
 '05966',
 '05970',
 '05974',
 '05978',
 '06411',
 '06412',
 '06413',
 '06414',
 '06431',
 '06432',
 '06433',
 '06434',
 '06435',
 '06436',
 '06437',
 '06438',
 '06439',
 '06440',
 '06531',
 '06532',
 '06533',
 '06534',
 '06535',
 '06611',
 '06631',
 '06632',
 '06633',
 '06634',
 '06635',
 '06636',
 '07000',
 '07111',
 '07131',
 '07132',
 '07133',
 '07134',
 '07135',
 '07137',
 '07138',
 '07140',
 '07141',
 '07143',
 '07211',
 '07231',
 '07232',
 '07233',
 '07235',
 '07311',
 '07312',
 '07313',
 '07314',
 '07315',
 '07316',
 '07317',
 '07318',
 '07319',
 '07320',
 '07331',
 '07332',
 '07333',
 '07334',
 '07335',
 '07336',
 '07337',
 '07338',
 '07339',
 '07340',
 '08111',
 '08115',
 '08116',
 '08117',
 '08118',
 '08119',
 '08121',
 '08125',
 '08126',
 '08127',
 '08128',
 '08135',
 '08136',
 '08211',
 '08212',
 '08215',
 '08216',
 '08221',
 '08222',
 '08225',
 '08226',
 '08231',
 '08235',
 '08236',
 '08237',
 '08311',
 '08315',
 '08316',
 '08317',
 '08325',
 '08326',
 '08327',
 '08335',
 '08336',
 '08337',
 '08415',
 '08416',
 '08417',
 '08421',
 '08425',
 '08426',
 '08435',
 '08436',
 '08437',
 '09161',
 '09162',
 '09163',
 '09171',
 '09172',
 '09173',
 '09174',
 '09175',
 '09176',
 '09177',
 '09178',
 '09179',
 '09180',
 '09181',
 '09182',
 '09183',
 '09184',
 '09185',
 '09186',
 '09187',
 '09188',
 '09189',
 '09190',
 '09261',
 '09262',
 '09263',
 '09271',
 '09272',
 '09273',
 '09274',
 '09275',
 '09276',
 '09277',
 '09278',
 '09279',
 '09361',
 '09362',
 '09363',
 '09371',
 '09372',
 '09373',
 '09374',
 '09375',
 '09376',
 '09377',
 '09461',
 '09462',
 '09463',
 '09464',
 '09471',
 '09472',
 '09473',
 '09474',
 '09475',
 '09476',
 '09477',
 '09478',
 '09479',
 '09561',
 '09562',
 '09563',
 '09564',
 '09565',
 '09571',
 '09572',
 '09573',
 '09574',
 '09575',
 '09576',
 '09577',
 '09661',
 '09662',
 '09663',
 '09671',
 '09672',
 '09673',
 '09674',
 '09675',
 '09676',
 '09677',
 '09678',
 '09679',
 '09761',
 '09762',
 '09763',
 '09764',
 '09771',
 '09772',
 '09773',
 '09774',
 '09775',
 '09776',
 '09777',
 '09778',
 '09779',
 '09780',
 '10041',
 '10042',
 '10043',
 '10044',
 '10045',
 '10046',
 '11000',
 '12051',
 '12052',
 '12053',
 '12054',
 '12060',
 '12061',
 '12062',
 '12063',
 '12064',
 '12065',
 '12066',
 '12067',
 '12068',
 '12069',
 '12070',
 '12071',
 '12072',
 '12073',
 '13003',
 '13004',
 '13071',
 '13072',
 '13073',
 '13074',
 '13075',
 '13076',
 '14511',
 '14521',
 '14522',
 '14523',
 '14524',
 '14612',
 '14625',
 '14626',
 '14627',
 '14628',
 '14713',
 '14729',
 '14730',
 '15001',
 '15002',
 '15003',
 '15081',
 '15082',
 '15083',
 '15084',
 '15085',
 '15086',
 '15087',
 '15088',
 '15089',
 '15090',
 '15091',
 '16051',
 '16052',
 '16053',
 '16054',
 '16055',
 '16056',
 '16061',
 '16062',
 '16063',
 '16064',
 '16065',
 '16066',
 '16067',
 '16068',
 '16069',
 '16070',
 '16071',
 '16072',
 '16073',
 '16074',
 '16075',
 '16076',
 '16077'}

,Unnamed: 0,ags2,ags5,date,displayed_short_time_work_companies,displayed_short_time_work_people,employees_social_security_at_residence,employees_social_security_at_residenceemployees_social_security_at_work,realized_short_time_work_companies,realized_short_time_work_people,...,number_of_companies_real_estat,number_of_companies_rendering_other_services,number_of_companies_repair_motor_vehicles,number_of_companies_technical_services,number_of_companies_transport,number_of_companies_unknown_sector,number_of_companies_water_and_sewage,number_of_company_deletions,number_of_company_liquidations,number_of_start_ups
0,0,01,01001,2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,279.0,1089.0,866.0,619.0,105.0,183.0,12.0,15.0,6.0,5.0
1,1,01,01001,2019-02-01,NaN,NaN,NaN,NaN,NaN,NaN,...,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,11.0,2.0,15.0
2,2,01,01001,2019-03-01,NaN,NaN,44651.0,32144.0,NaN,NaN,...,293.0,568.0,797.0,524.0,103.0,68.0,6.0,6.0,3.0,14.0
3,3,01,01001,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,...,207.0,876.0,678.0,404.0,72.0,60.0,9.0,9.0,2.0,14.0
4,4,01,01001,2019-05-01,NaN,NaN,NaN,NaN,NaN,NaN,...,315.0,966.0,923.0,614.0,116.0,46.0,10.0,8.0,2.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11223,11223,16,16077,2020-12-01,54.0,882.0,NaN,NaN,NaN,NaN,...,100.0,1212.0,728.0,385.0,134.0,110.0,26.0,2.0,1.0,6.0
11224,11224,16,16077,2021-01-01,170.0,865.0,NaN,NaN,NaN,NaN,...,99.0,1212.0,729.0,384.0,134.0,110.0,26.0,0.0,3.0,2.0
11225,11225,16,16077,2021-02-01,51.0,252.0,NaN,NaN,NaN,NaN,...,97.0,1210.0,722.0,385.0,134.0,110.0,26.0,0.0,0.0,5.0
11226,11226,16,16077,2021-03-01,16.0,63.0,NaN,NaN,NaN,NaN,...,96.0,1208.0,723.0,388.0,133.0,108.0,26.0,4.0,0.0,4.0
11227,11227,16,16077,2021-04-01,8.0,54.0,NaN,NaN,NaN,NaN,...,95.0,1195.0,723.0,384.0,133.0,104.0,26.0,1.0,1.0,4.0

In [112]:
#df_final_date_long.to_csv('./final_dfs/df_final_date_long.csv', index = False)

## Date wide

In [152]:
company_changes_date_wide = pd.read_csv('./final_dfs/company_changes_by_date_wide.csv', converters={'ags2': str, 'ags5': str, 'date':str})
labor_market_by_date_wide = pd.read_csv('./final_dfs/labor_market_by_date_wide.csv', converters={'ags2': str, 'ags5': str, 'date':str})

In [153]:
df_final_date_wide = company_changes_date_wide.merge(labor_market_by_date_wide, left_on=['ags5','ags2','date'], right_on=['ags5','ags2','date'])
df_final_date_wide

,ags2,ags5,date,number_of_companies_administration,number_of_companies_agriculture,number_of_companies_arts_entertainment,number_of_companies_communication,number_of_companies_construction,number_of_companies_domestic_staff,number_of_companies_economic_services,...,employees_social_security_at_residence,employees_social_security_at_residenceemployees_social_security_at_work,realized_short_time_work_companies,realized_short_time_work_people,registerd_jobs,underemployment_without_short_time _work,unemployed,unemployment_benefit_entitled,unemployment_benefit_recipients,unemployment_rate
0,01,01001,2019-01-01,34.0,14.0,108.0,131.0,264.0,0.0,130.0,...,NaN,NaN,NaN,NaN,819.0,6166.0,4275.0,11452.000000,1155.0,8.2
1,01,01001,2019-02-01,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,...,NaN,NaN,NaN,NaN,864.0,6054.0,4065.0,11506.000000,1176.0,7.8
2,01,01001,2019-03-01,34.0,12.0,87.0,132.0,207.0,0.0,246.0,...,44651.0,32144.0,NaN,NaN,837.0,6021.0,4109.0,11435.000000,1126.0,7.8
3,01,01001,2019-04-01,43.0,9.0,119.0,98.0,170.0,0.0,215.0,...,NaN,NaN,NaN,NaN,823.0,5932.0,4005.0,11440.000000,1030.0,7.6
4,01,01001,2019-05-01,44.0,12.0,146.0,150.0,242.0,0.0,281.0,...,NaN,NaN,NaN,NaN,863.0,6036.0,4048.0,11401.000000,1012.0,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11223,16,16077,2020-12-01,115.0,99.0,158.0,44.0,457.0,1.0,246.0,...,NaN,NaN,NaN,NaN,702.0,4147.0,3015.0,6196.000000,979.0,6.7
11224,16,16077,2021-01-01,115.0,99.0,158.0,44.0,459.0,1.0,246.0,...,NaN,NaN,NaN,NaN,681.0,NaN,3287.0,6236.000000,NaN,7.3
11225,16,16077,2021-02-01,115.0,99.0,158.0,43.0,457.0,1.0,245.0,...,NaN,NaN,NaN,NaN,680.0,NaN,3270.0,6248.782315,NaN,7.3
11226,16,16077,2021-03-01,114.0,100.0,158.0,42.0,455.0,1.0,245.0,...,NaN,NaN,NaN,NaN,749.0,NaN,3222.0,6219.427429,NaN,7.2
11227,16,16077,2021-04-01,110.0,100.0,158.0,46.0,456.0,1.0,240.0,...,NaN,NaN,NaN,NaN,769.0,NaN,3078.0,6228.279630,NaN,6.9

In [ ]:
df_final_date_wi.to_csv('./final_dfs/df_final_date_long.csv', index = False)