In [32]:
import pandas as pd
import numpy as np

from itertools import chain

from pathlib import Path
from functools import reduce

In [2]:
path = Path('./corona_data_sets_modified') # use your path
all_files = list(path.rglob("*.csv"))

In [4]:
d = {}

for p in all_files:
    df = pd.read_csv(p, index_col=None, header=0, converters={'ags2': str, 'ags5': str})
    #df = df.drop(['bundesland', 'kreis', '_id'], 1)
    try:
        df = df.drop(['id'], 1) # only few dbs have the 'id' column
    except:
        pass
    d[p.stem] = df

In [5]:
d.keys()

dict_keys(['reachability_data_modified', 'training_situation', 'hospital_data', 'households', 'traffic', 'publicFinances', 'population', 'commuter_data_modified', 'tourism_data_modified', 'company_information', 'labor_market_development', 'point_of_interest', 'spatialPlanning', 'land_use_data', 'private_finance'])

In [7]:
{k: len(set(v["ags5"])) for k, v in d.items()}

{'reachability_data_modified': 401,
 'training_situation': 401,
 'hospital_data': 401,
 'households': 401,
 'traffic': 401,
 'publicFinances': 401,
 'population': 401,
 'commuter_data_modified': 401,
 'tourism_data_modified': 401,
 'company_information': 401,
 'labor_market_development': 401,
 'point_of_interest': 401,
 'spatialPlanning': 401,
 'land_use_data': 401,
 'private_finance': 401}

In [29]:
dataFrames = [v for v in d.values()]
col = []

total_number_of_columns = 1 # for ags2 (ags 5 becomes index, so not counted as a column)
for df in dataFrames:
    total_number_of_columns += len(df.columns) - 2 # dono't double count ags2 and ags 5 for every table
    col.append(df.columns.values.tolist())
    
print('Total number of columns: ', total_number_of_columns)

Total number of columns:  188

In [9]:
df_final = dataFrames[0].sort_values(by=['ags5'])
for df in dataFrames[1:]:
    for col in df.columns:
        df_final[col] = df.sort_values(by=['ags5'])[col]

# set the index
df_final.set_index('ags5', inplace=True, drop=True)
df_final

,ags2,kreis,supermarkets_population,supermarkets_average_distance,public_transport availability,average_distance_bus_stop,average_distance_train_station,average_distance_public_transport,Unnamed: 0,number_of_students,...,median_income,purchasing_power_per_household,purchasing_power_per_person,debtor_quota,household_in_income_calss_1,household_in_income_calss_2,household_in_income_calss_3,household_in_income_calss_4,household_in_income_calss_5,household_in_income_calss_6
ags5,,,,,,,,,,,,,,,,,,,,,
01001,01,"Flensburg, Stadt",92,500,35,240,2901,240,0,11610,...,2986,34496,19556,16.0,13209,12385,13092,5441,3096,3497
01002,01,"Kiel, Landeshauptstadt",92,460,37,268,2037,265,1,23898,...,3304,35246,19612,12.1,22126,38523,39483,18567,11162,7841
01003,01,"Lübeck, Hansestadt",90,532,37,297,1927,294,2,20478,...,3036,37219,20820,15.1,22881,30159,32571,15805,10999,9039
01004,01,"Neumünster, Stadt",85,588,37,316,1648,313,3,10380,...,2842,38141,19561,17.9,7208,13291,10435,3812,3201,2805
10041,10,Regionalverband Saarbrücken,76,734,52,260,1804,255,318,30091,...,3431,37046,19917,14.4,31031,44117,53073,24122,13716,11119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
09776,09,Lindau (Bodensee),63,1056,36,461,3039,441,313,7001,...,3334,53011,27281,7.6,1899,4382,10928,7859,6828,10105
09777,09,Ostallgäu,59,1418,33,907,3726,837,314,13093,...,3231,52358,25107,6.3,4076,8392,16455,11687,10814,15803
09778,09,Unterallgäu,58,1369,32,855,4129,805,315,12022,...,3297,60441,27461,6.1,4051,6995,15103,12738,10743,15768
09779,09,Donau-Ries,51,1765,33,788,3800,760,316,13573,...,3368,57645,25919,5.6,2530,7245,16893,12552,9634,11118
09780,09,Oberallgäu,64,1192,36,667,3155,663,317,11767,...,2978,49376,25230,6.4,6889,11106,20213,11659,11504,17950

In [28]:
col

[Index(['ags2', 'ags5', 'kreis', 'supermarkets_population',
        'supermarkets_average_distance', 'public_transport availability',
        'average_distance_bus_stop', 'average_distance_train_station',
        'average_distance_public_transport'],
       dtype='object'),
 Index(['Unnamed: 0', 'ags2', 'ags5', 'kreis', 'number_of_students'], dtype='object'),
 Index(['Unnamed: 0', 'ags2', 'ags5', 'kreis', 'number_of_hospitals',
        'number_of_hospital_beds', 'number_of_hospital_beds_adj',
        'hospital_patiants'],
       dtype='object'),
 Index(['Unnamed: 0', 'ags2', 'ags5', 'kreis', 'households_of_1_person',
        'households_of_2_person', 'households_of_3_person',
        'households_of_4_person', 'households_of_5_person_or_more',
        'household_with_kids', 'household_with_kids_under_3',
        'household_with_kids_over_3_under_6',
        'household_with_kids_over_6_under_10',
        'household_with_kids_over_10_under_15',
        'household_with_kids_over_15_under_18',
        'household_with_double_income_no_kids'],
       dtype='object'),
 Index(['ags5', 'car density', 'no of paths per person and day',
        'kilometers per person and day', ' percentage out of home',
        'share of journeys on foot', 'share of journeys on bike',
        'proportion of motorised vehicle passenger',
        'share of motorised vehicle driver', 'share of public transport ',
        'public transport per 1000 inhabitants', 'activity index'],
       dtype='object'),
 Index(['ags5', 'kreis', 'municipal dept per capita',
        'municipal tax per capita', 'municipal tax per capita.1'],
       dtype='object'),
 Index(['ags5', 'kreis', 'no_of_births in 2018', '2018 population',
        '2019 population', '2018 men population', '2018 women population',
        '2018 population under 3 yrs', '2018 population 3 to 6',
        '2018 population 6 to 10', '2018 population 10 to 15',
        '2018 population 15 to 18', '2018 population 18 to 20',
        '2018 population 20 to 25', '2018 population 25 to 30',
        '2018 population 30 to 35', '2018 population 35 to 40',
        '2018 population 40 to 45', '2018 population 45 to 50',
        '2018 population 50 to 55', '2018 population 55 to 60',
        '2018 population 60 to 65', '2018 population 65 to 75',
        '2018 population above 75', '2019 population under 5',
        '2019 population 5 to 15', '2019 population 15 to 35',
        '2019 population 35 to 60', '2019 population 60 to 80',
        '2019 population above 80', 'no of foreigners 2018',
        'proportion of foreigners in 2018', 'no_of_births_per_capita'],
       dtype='object'),
 Index(['ags2', 'ags5', 'kreis', 'Number_of_Commuters_place_of_work',
        'Number_of_Commuters_on_place_of_residence)', 'Commuter_Balance',
        'Proportion_of_in_commuters', 'Share_of_out_commuters',
        'Relative Commuter Balance', 'Commute_within_50km',
        'Commute_within_150km', 'Commute_within_300km'],
       dtype='object'),
 Index(['ags2', 'ags5', 'kreis', 'number_accomodation_establishments',
        'number_of_beds', 'number_of_guests', 'guests_staying_overnight'],
       dtype='object'),
 Index(['ags2', 'ags5', 'kreis', 'number_of_companies',
        'number_of_companies_agriculture', 'number_of_companies_mining',
        'number_of_companies_manufacturing', 'number_of_companies_energy',
        'number_of_companies_water_and_sewage',
        'number_of_companies_construction',
        'number_of_companies_repair_motor_vehicles',
        'number_of_companies_transport', 'number_of_companies_hospitality',
        'number_of_companies_communication',
        'number_of_companies_financial_and_insurance',
        'number_of_companies_real_estat',
        'number_of_companies_technical_services',
        'number_of_companies_economic_services',
        'number_of_companies_administration', 'number_of_companies_education',
        'number_of_companies_health_and_social_services',
        'number_of_companies_arts_entertainment',
        'number_of_companies_rendering_other_services',
        'number_of_companies_domestic_staff',
        'number_of_companies_extraterritorial',
        'number_of_companies_1_to_4_employees',
        'number_of_companies_5_to_49_employees',
        'number_of_companies_50_to_400_employees',
        'number_of_companies_500_or_more_employees'],
       dtype='object'),
 Index(['Unnamed: 0', 'ags2', 'ags5', 'kreis', 'mean_unemployed',
        'mean_unemployment_rate', 'mean_registerd_jobs',
        'mean_unemployment_benefit_recipients',
        'employees_social_security_at_residence',
        'employees_social_security_at_work'],
       dtype='object'),
 Index(['ags5', 'no of hairdressers', 'no of restraunts', 'no of branches',
        'no of commertial units', 'no of shopping malls', 'no of clubs',
        'no of slaughterhouse', 'no of education centers', 'no of shopping',
        'no of free time', 'no of tourism points', 'no of food and drink',
        'no of public institution', 'no of traffic centers',
        'no of health centers', 'no of business'],
       dtype='object'),
 Index(['ags5', 'car density', 'no of paths per person and day',
        'kilometers per person and day', ' percentage out of home',
        'share of journeys on foot', 'share of journeys on bike',
        'proportion of motorised vehicle passenger',
        'share of motorised vehicle driver', 'share of public transport ',
        'public transport per 1000 inhabitants', 'activity index'],
       dtype='object'),
 Index(['ags5', 'kreis', 'total area', 'Residential area percentage',
        'industrial / commertial area percentage', 'dump area percentage',
        'mining area percentage', 'open pit, mine, quarry area percentage',
        'mixed use area percentage',
        'special functional character land percentage',
        'sport, leisure, recreation area percentage', 'cemetry area percentage',
        'road area percentage', 'space area percentage',
        'rail traffic area percentage', 'air traffic area percentage',
        'shipping area percentage', 'agri area percentage',
        'forrest area percentage', 'wood area percentage',
        'health area percentage', 'moor area percentage',
        'swamp area percentage', 'without vegetation area percentage',
        'flowing water percentage', 'harbor basin percentage',
        'standing water percentage', 'sea percentage'],
       dtype='object'),
 Index(['Unnamed: 0', 'ags2', 'ags5', 'kreis', 'median_income',
        'purchasing_power_per_household', 'purchasing_power_per_person',
        'debtor_quota', 'household_in_income_calss_1',
        'household_in_income_calss_2', 'household_in_income_calss_3',
        'household_in_income_calss_4', 'household_in_income_calss_5',
        'household_in_income_calss_6'],
       dtype='object')]

In [36]:
df_final.columns

Index(['ags2', 'kreis', 'supermarkets_population',
       'supermarkets_average_distance', 'public_transport availability',
       'average_distance_bus_stop', 'average_distance_train_station',
       'average_distance_public_transport', 'Unnamed: 0', 'number_of_students',
       ...
       'median_income', 'purchasing_power_per_household',
       'purchasing_power_per_person', 'debtor_quota',
       'household_in_income_calss_1', 'household_in_income_calss_2',
       'household_in_income_calss_3', 'household_in_income_calss_4',
       'household_in_income_calss_5', 'household_in_income_calss_6'],
      dtype='object', length=168)

In [37]:
df_final.columns = df_final.columns.str.replace(' ', '_')

In [38]:
df_final.to_csv('./corona_data_sets_modified/df_final.csv')