In [128]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

from pathlib import Path
from functools import reduce

from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [129]:
df = pd.read_csv('./corona_data_sets/arbeitsmarktentwicklung.csv', converters={'ags2': str, 'ags5': str})
df = df.drop(['kreis', '_id'], 1)
print(df)

    ags2          bundesland   ags5  kr_ka_au_202001  kr_ka_au_202002  \
0     01  Schleswig-Holstein  01001                0                0
1     01  Schleswig-Holstein  01002                5                4
2     01  Schleswig-Holstein  01003                0                0
3     01  Schleswig-Holstein  01004                0                0
4     01  Schleswig-Holstein  01051                0                0
..   ...                 ...    ...              ...              ...
396   16           Thüringen  16073                0                5
397   16           Thüringen  16074                0                3
398   16           Thüringen  16075                5                7
399   16           Thüringen  16076                3                0
400   16           Thüringen  16077                0                3

     kr_ka_au_202003  kr_ka_au_202004  kr_ka_au_202005  kr_ka_au_202006  \
0                185              758               70               21
1                344             1812              169               49
2                370             1722              177               41
3                142              642               55               15
4                181             1046               80               34
..               ...              ...              ...              ...
396              704              510               81               18
397              441              432               45               14
398              348              611               75               17
399              471              738               84               31
400              302              624               53               14

     kr_ka_au_202007  ...  kr_rlb_202007  kr_rlb_202008  kr_rlb_202009  \
0                  8  ...          11528          11401          11211
1                 22  ...          32153          31937          31493
2                 20  ...          24463          24097          23613
3                  5  ...           8997           8893           8847
4                 15  ...          10188          10002           9781
..               ...  ...            ...            ...            ...
396               12  ...           4985           4934           4824
397               10  ...           3324           3255           3181
398                9  ...           3445           3327           3270
399               20  ...           4126           4025           3949
400               12  ...           6661           6653           6473

     kr_rlb_202010  kr_rlb_202011  kr_rlb_202012  kr_rlb_202101  \
0            11018          10941          10988          11066
1            31075          31018          30842          30738
2            23157          23179          23354          23491
3             8730           8707           8667           8838
4             9613           9614           9706           9775
..             ...            ...            ...            ...
396           4750           4751           4721           4727
397           3077           3022           2978           2994
398           3102           3060           3042           3060
399           3829           3826           3826           3891
400           6326           6225           6196           6236

     kr_rlb_202102  kr_rlb_202103  kr_rlb_202104
0     11165.082749   11193.617211   11111.999397
1     30950.568347   30985.965972   30847.303052
2     23601.855952   23703.798710   23599.499787
3      8870.375277    8954.945551    8825.197032
4      9817.517458    9890.821675    9906.267154
..             ...            ...            ...
396    4793.027079    4938.773207    4762.884313
397    3032.964802    3040.304609    3036.686847
398    3089.952200    3178.729884    3102.771109
399    3881.375161    3890.171929    3874.523927
400    6248.782315    6219.427429    6228.279630

[401 rows x 226 columns]

In [130]:
df = pd.wide_to_long(df, i=['ags2', 'ags5','bundesland'], stubnames ='kr' , j = 'variable', sep='_',  suffix=r'\w+')
df = df.reset_index(drop=False)

In [131]:
set(df['variable'])

{'al_201901',
 'al_201902',
 'al_201903',
 'al_201904',
 'al_201905',
 'al_201906',
 'al_201907',
 'al_201908',
 'al_201909',
 'al_201910',
 'al_201911',
 'al_201912',
 'al_202001',
 'al_202002',
 'al_202003',
 'al_202004',
 'al_202005',
 'al_202006',
 'al_202007',
 'al_202008',
 'al_202009',
 'al_202010',
 'al_202011',
 'al_202012',
 'al_202101',
 'al_202102',
 'al_202103',
 'al_202104',
 'alga_201901',
 'alga_201902',
 'alga_201903',
 'alga_201904',
 'alga_201905',
 'alga_201906',
 'alga_201907',
 'alga_201908',
 'alga_201909',
 'alga_201910',
 'alga_201911',
 'alga_201912',
 'alga_202001',
 'alga_202002',
 'alga_202003',
 'alga_202004',
 'alga_202005',
 'alga_202006',
 'alga_202007',
 'alga_202008',
 'alga_202009',
 'alga_202010',
 'alga_202011',
 'alga_202012',
 'alq_201901',
 'alq_201902',
 'alq_201903',
 'alq_201904',
 'alq_201905',
 'alq_201906',
 'alq_201907',
 'alq_201908',
 'alq_201909',
 'alq_201910',
 'alq_201911',
 'alq_201912',
 'alq_202001',
 'alq_202002',
 'alq_202003',
 'alq_202004',
 'alq_202005',
 'alq_202006',
 'alq_202007',
 'alq_202008',
 'alq_202009',
 'alq_202010',
 'alq_202011',
 'alq_202012',
 'alq_202101',
 'alq_202102',
 'alq_202103',
 'alq_202104',
 'ga_201901',
 'ga_201902',
 'ga_201903',
 'ga_201904',
 'ga_201905',
 'ga_201906',
 'ga_201907',
 'ga_201908',
 'ga_201909',
 'ga_201910',
 'ga_201911',
 'ga_201912',
 'ga_202001',
 'ga_202002',
 'ga_202003',
 'ga_202004',
 'ga_202005',
 'ga_202006',
 'ga_202007',
 'ga_202008',
 'ga_202009',
 'ga_202010',
 'ga_202011',
 'ga_202012',
 'ga_202101',
 'ga_202102',
 'ga_202103',
 'ga_202104',
 'ka_ap_202001',
 'ka_ap_202002',
 'ka_ap_202003',
 'ka_ap_202004',
 'ka_ap_202005',
 'ka_ap_202006',
 'ka_ap_202007',
 'ka_ap_202008',
 'ka_ap_202009',
 'ka_ap_202010',
 'ka_ap_202011',
 'ka_ap_202012',
 'ka_ap_202101',
 'ka_ap_202102',
 'ka_ap_202103',
 'ka_ap_202104',
 'ka_au_202001',
 'ka_au_202002',
 'ka_au_202003',
 'ka_au_202004',
 'ka_au_202005',
 'ka_au_202006',
 'ka_au_202007',
 'ka_au_202008',
 'ka_au_202009',
 'ka_au_202010',
 'ka_au_202011',
 'ka_au_202012',
 'ka_au_202101',
 'ka_au_202102',
 'ka_au_202103',
 'ka_au_202104',
 'ka_rp_202001',
 'ka_rp_202002',
 'ka_rp_202003',
 'ka_rp_202004',
 'ka_rp_202005',
 'ka_rp_202006',
 'ka_rp_202007',
 'ka_rp_202008',
 'ka_rp_202009',
 'ka_rp_202010',
 'ka_ru_202001',
 'ka_ru_202002',
 'ka_ru_202003',
 'ka_ru_202004',
 'ka_ru_202005',
 'ka_ru_202006',
 'ka_ru_202007',
 'ka_ru_202008',
 'ka_ru_202009',
 'ka_ru_202010',
 'rlb_201901',
 'rlb_201902',
 'rlb_201903',
 'rlb_201904',
 'rlb_201905',
 'rlb_201906',
 'rlb_201907',
 'rlb_201908',
 'rlb_201909',
 'rlb_201910',
 'rlb_201911',
 'rlb_201912',
 'rlb_202002',
 'rlb_202003',
 'rlb_202004',
 'rlb_202005',
 'rlb_202006',
 'rlb_202007',
 'rlb_202008',
 'rlb_202009',
 'rlb_202010',
 'rlb_202011',
 'rlb_202012',
 'rlb_202101',
 'rlb_202102',
 'rlb_202103',
 'rlb_202104',
 'svb_ao_201903',
 'svb_ao_201906',
 'svb_ao_201909',
 'svb_ao_202003',
 'svb_ao_202006',
 'svb_ao_202009',
 'svb_wo_201903',
 'svb_wo_201906',
 'svb_wo_201909',
 'svb_wo_202003',
 'svb_wo_202006',
 'svb_wo_202009',
 'ub_201901',
 'ub_201902',
 'ub_201903',
 'ub_201904',
 'ub_201905',
 'ub_201906',
 'ub_201907',
 'ub_201908',
 'ub_201909',
 'ub_201910',
 'ub_201911',
 'ub_201912',
 'ub_202001',
 'ub_202002',
 'ub_202003',
 'ub_202004',
 'ub_202005',
 'ub_202006',
 'ub_202007',
 'ub_202008',
 'ub_202009',
 'ub_202010',
 'ub_202011',
 'ub_202012'}

In [132]:
df["date"] = df.variable.apply(lambda x: x[-6:])
df["variable"] = df.variable.apply(lambda x: ''.join(x.split())[:-7].upper())

In [133]:
df

      ags2   ags5          bundesland variable           kr    date
0       01  01001  Schleswig-Holstein    KA_AU     0.000000  202001
1       01  01001  Schleswig-Holstein    KA_AU     0.000000  202002
2       01  01001  Schleswig-Holstein    KA_AU   185.000000  202003
3       01  01001  Schleswig-Holstein    KA_AU   758.000000  202004
4       01  01001  Schleswig-Holstein    KA_AU    70.000000  202005
...    ...    ...                 ...      ...          ...     ...
89418   16  16077           Thüringen      RLB  6196.000000  202012
89419   16  16077           Thüringen      RLB  6236.000000  202101
89420   16  16077           Thüringen      RLB  6248.782315  202102
89421   16  16077           Thüringen      RLB  6219.427429  202103
89422   16  16077           Thüringen      RLB  6228.279630  202104

[89423 rows x 6 columns]

In [134]:
df['date'] = pd.to_datetime(df['date'], format = '%Y%m')
df = df.rename(columns={"kr": "value"})

In [135]:
set(df['variable'])

{'AL',
 'ALGA',
 'ALQ',
 'GA',
 'KA_AP',
 'KA_AU',
 'KA_RP',
 'KA_RU',
 'RLB',
 'SVB_AO',
 'SVB_WO',
 'UB'}

In [136]:
di = {'AL': 'unemployed', 
      'ALGA': 'unemployment_benefit_recipients',
      'ALQ': 'unemployment_rate',
     'GA': 'registerd_jobs',
     'KA_AP': 'displayed_short_time_work_people',
     'KA_AU': 'displayed_short_time_work_companies',
     'KA_RP': 'realized_short_time_work_people',
     'KA_RU': 'realized_short_time_work_companies',
     'RLB': 'unemployment_benefit_entitled',
     'SVB_AO': 'employees_social_security_at_residence' ,
     'SVB_WO': 'employees_social_security_at_residence' 'employees_social_security_at_work',
     'UB': 'underemployment_without_short_time _work'}
df = df.replace({"variable": di})
df

,ags2,ags5,bundesland,variable,value,date
0,01,01001,Schleswig-Holstein,displayed_short_time_work_companies,0.000000,2020-01-01
1,01,01001,Schleswig-Holstein,displayed_short_time_work_companies,0.000000,2020-02-01
2,01,01001,Schleswig-Holstein,displayed_short_time_work_companies,185.000000,2020-03-01
3,01,01001,Schleswig-Holstein,displayed_short_time_work_companies,758.000000,2020-04-01
4,01,01001,Schleswig-Holstein,displayed_short_time_work_companies,70.000000,2020-05-01
...,...,...,...,...,...,...
89418,16,16077,Thüringen,unemployment_benefit_entitled,6196.000000,2020-12-01
89419,16,16077,Thüringen,unemployment_benefit_entitled,6236.000000,2021-01-01
89420,16,16077,Thüringen,unemployment_benefit_entitled,6248.782315,2021-02-01
89421,16,16077,Thüringen,unemployment_benefit_entitled,6219.427429,2021-03-01
89422,16,16077,Thüringen,unemployment_benefit_entitled,6228.279630,2021-04-01

In [138]:
#df.to_csv('./final_dfs/labor_market_by_date.csv')