In [86]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

from pathlib import Path
from functools import reduce

from datetime import datetime
from hts import HTSRegressor
from hts.utilities.load_data import load_hierarchical_sine_data
import hts.functions
import collections
from hts.hierarchy import HierarchyTree

##

In [71]:
df = pd.read_csv('./../final_dfs/for_modeling/df_final_date_wide.csv', converters={'ags2': str, 'ags5': str}) 
df = df[['ags2','ags5','unemployment_rate', 'date']]

In [72]:
d = df.groupby('ags2')['ags5'].apply(list).to_dict()

In [73]:
level_names = ['ags2', 'ags5']
hierarchy = [['ags2'], ['ags5']]
df_wide, sum_mat, sum_mat_labels = hts.functions.get_hierarchichal_df(df,
                                                                    level_names=level_names,
                                                                    hierarchy=hierarchy,
                                                                    date_colname='date',
                                                                    val_colname='unemployment_rate')

In [74]:
df_wide['total'] = df_wide.sum(axis=1)
for key in d.keys():
    df_wide[key] = df_wide[[col for col in df_wide.columns if col.startswith(key)]].sum(axis=1)

In [94]:
df_wide.index = pd.to_datetime(df_wide.index)

In [95]:
d['total'] = list(d.keys())

In [ ]:
ht = HierarchyTree.from_nodes(d, df_wide)
print(ht)

In [ ]:
hp = HTSRegressor(transform=None, freq='3H')
hp.fit(df = df_wide, tree = ht)

In [79]:
preds = hp.predict_future()

AttributeError: 'HTSRegressor' object has no attribute 'predict_future'

In [14]:
hp = HTSRegressor(transform=None, freq='3H')
hp.fit(nodes=ht)

ags2_ags5,01_01001,01_01002,01_01003,01_01004,01_01051,01_01053,01_01054,01_01055,01_01056,01_01057,...,16068,16069,16070,16071,16072,16073,16074,16075,16076,16077
2020-03,8.614286,8.128571,7.864286,8.578571,5.925,5.171429,5.171429,5.339286,5.060714,4.439286,...,6.167857,3.864286,5.357143,4.403571,4.317857,5.678571,4.428571,4.825,5.028571,7.078571