In [6]:
import pandas as pd
import datetime

In [7]:
Bestand_SteA_long = pd.read_csv('Bestand_SteA_long.csv', index_col=0)
AST_long = pd.read_csv('AST_long.csv', index_col=0)
SvB_AO_long = pd.read_csv('SvB_AO_long.csv', index_col=0)
SvB_WO_long = pd.read_csv('SvB_WO_long.csv', index_col=0)

## merge

In [14]:
df_final_wide = pd.read_csv('../../final_dfs/for_modeling/df_final_date_wide_2007.csv', index_col=0)
df_final_long = pd.read_csv('../../final_dfs/for_modeling/df_final_date_long_2007.csv', index_col=0)

In [4]:
#set(df_final_long['variable'])

In [9]:
# fix date to first day of the month to merge
def fix_day(date):
    return date.replace(day=1)

### wide

In [6]:
df_final_wide.shape

(67368, 40)

In [34]:
def wide_merge(df_wide, df_final_wide, varname):
    df_wide['datetime'] = pd.to_datetime(df_wide['time_stamp'], format='%Y-%m-%d')
    df_wide['date'] = df_wide['datetime'].apply(fix_day)
    df_wide = df_wide[['ags5', 'date', 'value']]
    df_wide = df_wide.rename(columns={'value': varname})
    df_final_wide['date'] = pd.to_datetime(df_final_wide['date'])
    #df_final_wide = df_final_wide.drop(columns=[f'{varname}'])
    df_final_wide = pd.merge(df_final_wide, df_wide, on=['ags5', 'date'])
    return df_final_wide

In [11]:
df_final_wide = wide_merge(Bestand_SteA_long, df_final_wide, 'registerd_jobs')
df_final_wide = wide_merge(AST_long, df_final_wide, 'unemployed')
df_final_wide = wide_merge(SvB_AO_long, df_final_wide, 'employees_social_security_at_work')
df_final_wide = wide_merge(SvB_WO_long, df_final_wide, 'employees_social_security_at_residence')

In [12]:
df_final_wide.shape

(65363, 40)

In [19]:
df_final_wide=df_final_wide.loc[:, ['ags2', 'ags5','date']]

In [35]:
wide_merge(Bestand_SteA_long, df_final_wide, 'Bestand_SteA_long')

       ags2   ags5       date  Bestand_SteA_long
0         1   1001 2007-05-01                784
1         1   1001 2007-06-01                932
2         1   1001 2007-07-01                862
3         1   1001 2007-08-01                819
4         1   1001 2007-09-01                725
...     ...    ...        ...                ...
65358    16  16077 2020-07-01                664
65359    16  16077 2020-08-01                692
65360    16  16077 2020-09-01                806
65361    16  16077 2020-10-01                774
65362    16  16077 2020-11-01                695

[65363 rows x 4 columns]

### long

In [10]:
df_final_long.shape

(599980, 5)

In [11]:
def long_merge(df_long, df_final_long, varname):
    df_final_long['date'] = pd.to_datetime(df_final_long['date'])
    df_final_long = df_final_long[df_final_long['variable']!=varname]
    df_long['ags2'] = df_long['ags5'].astype(str).str[:-3]
    df_long.rename(columns={f'{varname}': "value"}, inplace=True)
    df_long['variable'] = f'{varname}'
    df_long = df_long[['ags2', 'ags5', 'variable', 'date', 'value']]
    df_final_long = pd.concat([df_final_long, df_long], ignore_index=True)
    return df_final_long

In [12]:
df_final_long = long_merge(Bestand_SteA_long, df_final_long, 'registerd_jobs')
df_final_long = long_merge(AST_long, df_final_long, 'unemployed')
df_final_long = long_merge(SvB_AO_long, df_final_long, 'employees_social_security_at_work')
df_final_long = long_merge(SvB_WO_long, df_final_long, 'employees_social_security_at_residence')

In [13]:
df_final_long.shape

(855016, 5)

In [14]:
# df_final_wide.to_csv('../../final_dfs/for_modeling/df_final_date_wide_2007.csv')
# df_final_long.to_csv('../../final_dfs/for_modeling/df_final_date_long_2007.csv')

In [3]:
df_final_wide

,ags2,ags5,date,number_of_company_deletions,number_of_company_liquidations,number_of_start_ups,number_of_companies_administration,number_of_companies_agriculture,number_of_companies_arts_entertainment,number_of_companies_communication,...,realized_short_time_work_companies,realized_short_time_work_people,underemployment_without_short_time _work,unemployment_benefit_entitled,unemployment_benefit_recipients,unemployment_rate,registerd_jobs,unemployed,employees_social_security_at_work,employees_social_security_at_residence
0,1,1001,2007-05-01,4.0,2.0,21.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.7,784,5559,38319,24519
1,1,1001,2007-06-01,8.0,6.0,18.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.2,932,5323,38266,24560
2,1,1001,2007-07-01,9.0,0.0,18.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.5,862,5454,38237,24561
3,1,1001,2007-08-01,6.0,4.0,10.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.3,819,5377,38833,24936
4,1,1001,2007-09-01,11.0,4.0,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.7,725,5132,38840,25072
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65358,16,16077,2020-07-01,2.0,1.0,5.0,114.0,100.0,122.0,44.0,...,311.0,2709.0,4505.0,6661.0,1022.0,7.2,664,3242,27356,33148
65359,16,16077,2020-08-01,1.0,1.0,4.0,114.0,100.0,121.0,44.0,...,264.0,2104.0,4432.0,6653.0,1024.0,7.3,692,3271,27490,33287
65360,16,16077,2020-09-01,1.0,0.0,5.0,114.0,100.0,121.0,44.0,...,224.0,1750.0,4277.0,6473.0,970.0,7.0,806,3129,27765,33583
65361,16,16077,2020-10-01,0.0,0.0,7.0,114.0,100.0,121.0,44.0,...,210.0,1553.0,4193.0,6326.0,946.0,6.8,774,3050,27866,33603
65362,16,16077,2020-11-01,3.0,1.0,5.0,114.0,101.0,123.0,45.0,...,NaN,NaN,4165.0,6225.0,957.0,6.8,695,3027,27893,33623

In [5]:
df_final_wide.isnull().sum()

ags2                                                  0
ags5                                                  0
date                                                  0
number_of_company_deletions                           0
number_of_company_liquidations                        0
number_of_start_ups                                   0
number_of_companies_administration                56140
number_of_companies_agriculture                   56140
number_of_companies_arts_entertainment            56140
number_of_companies_communication                 56140
number_of_companies_construction                  56140
number_of_companies_domestic_staff                56140
number_of_companies_economic_services             56140
number_of_companies_education                     56140
number_of_companies_energy                        56140
number_of_companies_extraterritorial              56140
number_of_companies_financial_and_insurance       56140
number_of_companies_health_and_social_services    56140
number_of_companies_hospitality                   56140
number_of_companies_manufacturing                 56140
number_of_companies_mining                        56140
number_of_companies_real_estat                    56140
number_of_companies_rendering_other_services      56140
number_of_companies_repair_motor_vehicles         56140
number_of_companies_technical_services            56140
number_of_companies_transport                     56140
number_of_companies_unknown_sector                56140
number_of_companies_water_and_sewage              56140
displayed_short_time_work_companies               60952
displayed_short_time_work_people                  60952
realized_short_time_work_companies                61353
realized_short_time_work_people                   61353
underemployment_without_short_time _work          56140
unemployment_benefit_entitled                     56541
unemployment_benefit_recipients                   56140
unemployment_rate                                     0
registerd_jobs                                        0
unemployed                                            0
employees_social_security_at_work                     0
employees_social_security_at_residence                0
dtype: int64